Repository gemini-hlsw/lucuma-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label demo PRs, Label ui PRs

Label demo PRs:
  label:
    add:
    - demo
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Regenerate github workflows
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Update PosAngleDecoders for new ODB
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/PosAngleDecoders.scala
Due: none

Bump base version
  build.sbt
Due: none

some minor schema changes
  fetchODBSchema.sh
  templates/src/main/resources/lucuma/schemas/ObservationDB.graphql
Due: none

update api key
  fetchODBSchema.sh
Due: none

new db
  fetchODBSchema.sh
  templates/src/main/resources/lucuma/schemas/ObservationDB.comments.graphql
  templates/src/main/resources/lucuma/schemas/ObservationDB.graphql
  templates/src/main/scala/lucuma/schemas/ObservationDB.scala
Due: none

compiling
  .github/workflows/ci.yml
  .mergify.yml
  fetchODBSchema.sh
  templates/src/main/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Quote Long, BigInt and BigDecimal values sent to the ODB
  build.sbt
  templates/src/main/scala/lucuma/schemas/ObservationDB.scala
Due: none

timespan + pos angle fixes for lucuma-core 0.63
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/ProposalDecoders.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/SequenceDecoders.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/model/StepRecord.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/model/Visit.scala
  lucuma-schemas/src/test/resources/pac2.json
  lucuma-schemas/src/test/resources/pac3.json
  lucuma-schemas/src/test/resources/pac4.json
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ExposureTimeModeDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/GeneratedSequenceDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ManualSequenceDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ProposalDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  templates/src/main/resources/lucuma/schemas/ObservationDB.graphql
Due: none

destroy formatting
  .github/workflows/ci.yml
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ExposureTimeModeDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ProposalDecodersSuite.scala
Due: none

BrightnessValue + WavelengthRange decoders
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/SpectralDefinitionDecoders.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
Due: none

bump base version
  build.sbt
Due: none

Validator changes
  build.sbt
  modules/demo/src/main/scala/lucuma/ui/demo/Demo.scala
  modules/ui/src/main/scala/lucuma/ui/input/ChangeAuditor.scala
Due: Label demo PRs, Label ui PRs

Fix FormInputTextArea - pass value on to underlying control.
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextArea.scala
Due: Label ui PRs

Move common Reusability instances from explore
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
Due: Label ui PRs

Newtypes and refinements in core
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/SpectralDefinitionDecoders.scala
  lucuma-schemas/src/test/resources/t3.json
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
Due: none

subqueries
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/AngleSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ConstraintSetSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ConstraintsSummarySubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/OffsetSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/PosAngleConstraintSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/TargetWithIdSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/TimeSpanSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/WavelengthDitherSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/WavelengthRangeSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/WavelengthSubquery.scala
  model/src/main/scala/lucuma/schemas/decoders/ConstraintSetDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/ExposureTimeModeDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/PosAngleDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/ProposalDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/SEDDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/SequenceDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/SourceProfileDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/SpectralDefinitionDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/TargetDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/package.scala
  model/src/main/scala/lucuma/schemas/model/ConstraintsSummary.scala
  model/src/main/scala/lucuma/schemas/model/Dataset.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionEvent.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
  templates/src/main/resources/lucuma/schemas/ObservationDB.comments.graphql
  templates/src/main/scala/lucuma/schemas/ObservationDB.scala
  templates/src/main/scala/lucuma/schemas/odb/FluxDensitySubquery.scala
  templates/src/main/scala/lucuma/schemas/odb/GcalStepConfigSubquery.scala
  templates/src/main/scala/lucuma/schemas/odb/GmosCcdModeSubquery.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbConstraintsSummary.scala
Due: none

regenerate mergify
  .mergify.yml
Due: none

migrate missing tests + generators
  .mergify.yml
  build.sbt
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbTargetWithId.scala
  tests/src/test/scala/lucuma/schemas/model/ConstraintsSummarySuite.scala
  tests/src/test/scala/lucuma/schemas/model/TargetWithIdSuite.scala
Due: none

remove commented code
  build.sbt
Due: none

Update lucuma-react to v0.32.0 and associated changes
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputText.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextArea.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextAreaView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/primereact.scala
  modules/ui/src/main/scala/lucuma/ui/table/PrimeTable.scala
  modules/ui/src/main/scala/lucuma/ui/table/TableHooks.scala
Due: Label ui PRs

Fix PosAngleConstraintSubquery
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/PosAngleConstraintSubquery.scala
Due: none

Fix Reusability[SpectralDefinition[T]], bump core
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
Due: Label ui PRs

organize imports
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
Due: Label ui PRs

more subqueries
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ScienceModeSubquery.scala
  model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  model/src/main/scala/lucuma/schemas/model/ScienceMode.scala
  model/src/main/scala/lucuma/schemas/model/package.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbScienceMode.scala
Due: none

Rename to ObservingMode
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: none

update core, rename to WavelengthDelta
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/WavelengthDeltaSubquery.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
Due: none

update core, rename to WavelengthDelta
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
Due: Label ui PRs

bump base
  build.sbt
Due: none

missing package
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/WavelengthDeltaSubquery.scala
Due: none

move "toInput" methods here
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: none

Move table reusability instances to reusability package
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
  modules/ui/src/main/scala/lucuma/ui/table/TableHooks.scala
Due: Label ui PRs

more subqueries
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/BandBrightnessSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/BandNormalizedSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/DecSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/EmissionLinesSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ProperMotionSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/RASubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/RadialVelocitySubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/TargetWithIdSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/UnnormalizedSEDSubquery.scala
  model/src/main/scala/lucuma/schemas/decoders/SpectralDefinitionDecoders.scala
Due: none

fix copy-paste error in subquery
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/EmissionLinesSubquery.scala
Due: none

Enum Optional Dropdown component
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumOptionalDropdown.scala
Due: Label ui PRs

Upgrade for odb itc/visits changes
  build.sbt
  templates/src/main/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Path conditions:
  Label demo PRs: any of: ^modules/demo/
  Label ui PRs: any of: ^modules/ui/
