Repository gemini-hlsw/lucuma-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label demo PRs, Label ui PRs

Label demo PRs:
  label:
    add:
    - demo
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

reimplement toast.showDuring as Resource
  modules/ui/src/main/scala/lucuma/ui/syntax/toast.scala
Due: Label ui PRs

Update lucuma-core to 0.113.0
  build.sbt
Due: none

bump clue
  project/plugins.sbt
Due: none

bump versions
  build.sbt
Due: none

bump base version
  build.sbt
Due: none

bump versions
  build.sbt
  project/plugins.sbt
Due: none

Lib updates
  build.sbt
Due: none

Lib updates
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  project/plugins.sbt
Due: none

Fix deprecated method
  modules/ui/src/main/scala/lucuma/ui/utils/UAParser.scala
Due: Label ui PRs

Update UAParser
  build.sbt
  modules/demo/package-lock.json
  modules/demo/package.json
  modules/demo/src/main/webapp/main.jsx
  modules/demo/vite.config.js
  modules/demo/webpack/dev.webpack.config.js
  modules/demo/webpack/prod.webpack.config.js
  modules/demo/webpack/test.webpack.config.js
  modules/demo/webpack/webpack.parts.js
  modules/ui/src/main/scala/lucuma/ui/components/UserSelectionForm.scala
  modules/ui/src/main/scala/lucuma/ui/utils/UAParser.scala
  package-lock.json
Due: Label demo PRs, Label ui PRs

Update for API change unifying program name and proposal title
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Update schemas to use te new API for exposure mode
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  lucuma-schemas/src/test/resources/fixedExposure.json
  lucuma-schemas/src/test/resources/signalToNoise.json
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ExposureTimeModeDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/ExposureTimeModeDecoders.scala
Due: none

Scalafix
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ExposureTimeModeDecodersSuite.scala
Due: none

Update base version
  build.sbt
Due: none

add default theme to monadic useTheme
  modules/ui/src/main/scala/lucuma/ui/hooks/UseTheme.scala
Due: Label ui PRs

update schema, map Site enum
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

Update crystal to 0.47.6
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/components/UserSelectionForm.scala
Due: Label ui PRs

identify ongoing step in explore
  build.sbt
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

Fix TimeSpanFormatter when rounding minutes UP to ZERO
  modules/tests/src/test/scala/lucuma/ui/format/TimeSpanFormatterSuite.scala
  modules/ui/src/main/scala/lucuma/ui/components/TimeSpanView.scala
  modules/ui/src/main/scala/lucuma/ui/format/TimeSpanFormatter.scala
Due: Label ui PRs

Update tlBaseVersion
  build.sbt
Due: none

disable url checks for fits links
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label ui PRs

remove unused import
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label ui PRs

add isWritten to dataset queries
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  lucuma-schemas/src/test/resources/visitsQuery.graphql
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/Dataset.scala
Due: none

use odb info to display dataset links
  build.sbt
  modules/demo/src/main/scala/lucuma/ui/demo/Demo.scala
  modules/demo/src/main/scala/lucuma/ui/demo/LinkIfValidDemo.scala
  modules/ui/src/main/scala/lucuma/ui/components/LinkIfValid.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label demo PRs, Label ui PRs

update schema, libs
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: none

add missing fluxDensitiesAttachment in query
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/UnnormalizedSEDSubquery.scala
Due: none

Update schema and odb lib
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

Update schema and lib
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Update libs
  build.sbt
Due: none

Update scala
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/display/package.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

table migration
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/table.scala
  modules/ui/src/main/scala/lucuma/ui/table/ColumnSize.scala
  modules/ui/src/main/scala/lucuma/ui/table/PrimeTable.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/TableStateStore.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseDynTable.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseReactTableWithStateStore.scala
Due: Label ui PRs

more table migration
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
Due: Label ui PRs

finish table migration
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/table/ColumnSize.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseDynTable.scala
Due: Label ui PRs

Path conditions:
  Label demo PRs: any of: ^modules/demo/
  Label ui PRs: any of: ^modules/ui/
