Repository gemini-hlsw/lucuma-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label demo PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.2.1-RC4, temurin@17)
  actions:
    merge: {}
- name: Label demo PRs
  conditions:
  - files~=^modules/demo/
  actions:
    label:
      add:
      - demo
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^modules/ui/
  actions:
    label:
      add:
      - ui
      remove: []

Formatting
  modules/ui/src/main/scala/lucuma/ui/primereact/FormTimeSpanInput.scala
Due: Label ui PRs

fix css npm publishing
  build.sbt
Due: none

Add some styles
  modules/ui/src/main/scala/lucuma/ui/primereact/LucumaPrimeStyles.scala
Due: Label ui PRs

Update schema and dependencies
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: none

pprint utilities
  modules/ui/src/main/scala/lucuma/ui/pprint/PPrinter.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/all.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/pprint.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/util.scala
Due: Label ui PRs

bump core
  build.sbt
Due: none

update model
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  lucuma-schemas/src/test/resources/visitGmosNorth.json
  lucuma-schemas/src/test/resources/visitGmosSouth.json
  lucuma-schemas/src/test/resources/visitsQuery.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  model/src/main/scala/lucuma/schemas/model/Dataset.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionEvent.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
  model/src/main/scala/lucuma/schemas/model/InstrumentExecutionVisits.scala
  model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
  model/src/main/scala/lucuma/schemas/model/enums/StepExecutionState.scala
Due: none

bump base version
  build.sbt
Due: none

tighter types, add missing lenses
  model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
Due: none

parameterize visits subquery with offset
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
Due: none

Add mapping for ProgramType enum
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

Allow filtering of SideTabs buttons, update dependencies
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/components/SideTabs.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/SelectButtonEnumView.scala
Due: Label ui PRs

EmailAddreess type
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

leave some sequence columns unbounded
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  modules/ui/src/main/scala/lucuma/ui/table/ColumnSize.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/DynTable.scala
Due: Label ui PRs

Small improvement to indicate the user an item has been copied
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/components/CopyControl.scala
Due: Label ui PRs

Reformat
  modules/ui/src/main/scala/lucuma/ui/components/CopyControl.scala
Due: Label ui PRs

Update binary version
  build.sbt
Due: none

Add scrollIfNeeded extension method
  modules/demo/vite.config.js
  modules/ui/src/main/scala/lucuma/ui/syntax/util.scala
Due: Label demo PRs, Label ui PRs

Update schema to include Emails
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

Update libs
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

Update schema
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

group current visit steps with next steps
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label ui PRs

mechanism to deduplicate current step
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label ui PRs

alert rows in sequences
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label ui PRs

Handle pasting in FormInputTextView correctly (I hope).
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextView.scala
Due: Label ui PRs

add necessary keys to datasets
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label ui PRs

add AtomStage enum mapping
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

method to extend ExecutionVisits list
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
Due: none

fix sequence section hiding criterion
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label ui PRs

fix rowId for visit headers
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label ui PRs

fix step numbering
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label ui PRs

new table facade
  build.sbt
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-table.scss
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  modules/ui/src/main/scala/lucuma/ui/table/ColumnSelector.scala
  modules/ui/src/main/scala/lucuma/ui/table/ColumnSize.scala
  modules/ui/src/main/scala/lucuma/ui/table/PrimeTable.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseDynTable.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseReactTableWithStateStore.scala
Due: Label ui PRs

reusability instances
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
Due: Label ui PRs

update baseversion
  build.sbt
Due: none

add AtomExecutionState
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/test/resources/visitGmosNorth.json
  lucuma-schemas/src/test/resources/visitGmosSouth.json
  lucuma-schemas/src/test/resources/visitsQuery.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  model/src/main/scala/lucuma/schemas/model/enums/AtomExecutionState.scala
Due: none

add atom executionState to Visits subquery
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
Due: none

Upgrade prime-react via lucuma-react
  build.sbt
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-prime.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-side-tabs.scss
Due: Label ui PRs
