Repository gemini-hlsw/lucuma-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label demo PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.2.1-RC4, temurin@17)
  actions:
    merge: {}
- name: Label demo PRs
  conditions:
  - files~=^modules/demo/
  actions:
    label:
      add:
      - demo
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^modules/ui/
  actions:
    label:
      add:
      - ui
      remove: []

scalafix
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInfo.scala
Due: Label ui PRs

Add empty messagge fields to EnumOptionalDropdown
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumOptionalDropdown.scala
Due: Label ui PRs

Update libraries
  build.sbt
  modules/demo/src/main/scala/lucuma/ui/demo/FormComponent.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/mod.scala
Due: Label demo PRs, Label ui PRs

Added necessary css
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-prime.scss
Due: Label ui PRs

bump versions, alias roles
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

bump base version
  build.sbt
Due: none

Add some date-picker variables
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
Due: Label ui PRs

Update lucuma-odb-schema to 0.13.1
  build.sbt
Due: none

Bump tlBaseVersion
  build.sbt
Due: none

Add ScienceBand enum
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

Allow filtering of columns in ColumnSelector
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/table/ColumnSelector.scala
Due: Label ui PRs

skip config in visits query
  .scalafix.conf
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  lucuma-schemas/src/test/resources/visitGmosNorth.json
  lucuma-schemas/src/test/resources/visitGmosSouth.json
  lucuma-schemas/src/test/resources/visitNoSequence.json
  lucuma-schemas/src/test/resources/visitsQuery.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
Due: none

Update tlBaseVersion
  build.sbt
Due: none

Update schema for banded time charges
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Update libs and schema
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

implement SelectButtonMultipleEnumView
  modules/ui/src/main/scala/lucuma/ui/primereact/SelectButtonMultipleEnumView.scala
Due: Label ui PRs

Don't query itc with the sequence
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
Due: none

Update binary version
  build.sbt
Due: none

general multi row handler for tables
  modules/ui/src/main/scala/lucuma/ui/syntax/all.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/table.scala
Due: Label ui PRs

scalafix
  modules/ui/src/main/scala/lucuma/ui/syntax/table.scala
Due: Label ui PRs

allow optional custom RowId in multirow selector handler
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/syntax/table.scala
Due: Label ui PRs

better idiom for multirow selection handler
  modules/ui/src/main/scala/lucuma/ui/syntax/table.scala
Due: Label ui PRs

Library updates
  build.sbt
Due: none

Update schema for observation workflow
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

Add disabledItems to the *EnumDropDown* that didn't have it
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdownOptionalView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdownView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormEnumDropdownOptionalView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormEnumDropdownView.scala
Due: Label ui PRs

Add disabledItems to the *EnumDropDown* that didn't have it
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdownOptionalView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdownView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormEnumDropdownOptionalView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormEnumDropdownView.scala
Due: Label ui PRs

migrate to latest schema
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  lucuma-schemas/src/test/resources/visitGmosNorth.json
  lucuma-schemas/src/test/resources/visitGmosSouth.json
  lucuma-schemas/src/test/resources/visitsQuery.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
Due: none

add missing property
  build.sbt
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
Due: none

migration to latest odb schema
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/StepTypeDisplay.scala
Due: Label ui PRs

fix odb lib version
  build.sbt
Due: none

formatting
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: none

fix schemas version
  build.sbt
Due: none

minimal set of props in ColumnSelector
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/table/ColumnSelector.scala
Due: Label ui PRs

Update schema
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Update biinary version
  build.sbt
Due: none

scalafix
  modules/ui/src/main/scala/lucuma/ui/table/ColumnSelector.scala
Due: Label ui PRs

apply table states partially in case of overrides
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseReactTableWithStateStore.scala
  modules/ui/src/main/scala/lucuma/ui/table/package.scala
Due: Label ui PRs

generalization of previous PR
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/table/package.scala
Due: Label ui PRs

bump versions
  build.sbt
Due: none
