Repository gemini-hlsw/lucuma-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label demo PRs, Label ui PRs

Label demo PRs:
  label:
    add:
    - demo
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Update scala and apply linting rules
  .github/workflows/ci.yml
  .mergify.yml
  .scalafmt-common.conf
  build.sbt
  modules/demo/src/main/scala/lucuma/ui/demo/Demo.scala
  modules/ui/src/main/scala/lucuma/ui/input/ChangeAuditor.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/CheckboxView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdown.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdownOptionalView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdownView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDropdown.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDropdownOptional.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormEnumDropdownOptionalView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormEnumDropdownView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputText.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextArea.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextAreaView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormLabel.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/SelectButtonEnumView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/SliderView.scala
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/components.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/mod.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/view.scala
  modules/ui/src/main/scala/lucuma/ui/table/ColumnSelector.scala
  modules/ui/src/main/scala/lucuma/ui/table/PrimeTable.scala
  modules/ui/src/main/scala/lucuma/ui/table/TableHooks.scala
  modules/ui/src/main/scala/lucuma/ui/utils/ReactUtils.scala
  project/plugins.sbt
Due: Label demo PRs, Label ui PRs

Moved SolarProgress component
  modules/ui/src/main/resources/lucuma-css/solar-system.scss
  modules/ui/src/main/scala/lucuma/ui/components/SolarProgress.scala
Due: Label ui PRs

Unused imports
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumOptionalDropdown.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextArea.scala
Due: Label ui PRs

Update scala and apply linting rules
  .github/workflows/ci.yml
  .mergify.yml
  .scalafmt-common.conf
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/FluxDensitySubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/GcalStepConfigSubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/GmosCcdModeSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/BandBrightnessSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/BandNormalizedSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/EmissionLinesSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ConstraintSetDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ExposureTimeModeDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/GeneratedSequenceDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/InputStreamSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ProposalDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TimingWindowDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/ProposalDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionEvent.scala
  model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
  project/plugins.sbt
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbTargetWithId.scala
Due: none

new crystal
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/table/TableHooks.scala
Due: Label ui PRs

move methods from explore
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/syntax/all.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/effect.scala
Due: Label ui PRs

imports
  modules/ui/src/main/scala/lucuma/ui/syntax/effect.scala
Due: Label ui PRs

fix and add enums
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

bump base version
  build.sbt
Due: none

sequence query, update odb
  .github/workflows/ci.yml
  .mergify.yml
  .scalafmt-common.conf
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQuery.scala
  lucuma-schemas/src/test/resources/generatedSequence1.json
  lucuma-schemas/src/test/resources/generatedSequenceQuery.graphql
  project/plugins.sbt
Due: none

update clue+sbt-lucuma
  .github/workflows/ci.yml
  .mergify.yml
  .scalafmt-common.conf
  project/plugins.sbt
Due: none

Add MoonPhase and switch the waiting indicator
  modules/ui/src/main/resources/lucuma-css/moon.scss
  modules/ui/src/main/scala/lucuma/ui/components/GppStyles.scala
  modules/ui/src/main/scala/lucuma/ui/components/MoonPhase.scala
  modules/ui/src/main/scala/lucuma/ui/components/SolarProgress.scala
  modules/ui/src/main/scala/lucuma/ui/package.scala
Due: Label ui PRs

Implement PR suggestions
  modules/ui/src/main/scala/lucuma/ui/components/GppStyles.scala
  modules/ui/src/main/scala/lucuma/ui/components/MoonPhase.scala
Due: Label ui PRs

Create .jvmopts
  .jvmopts
Due: none

move sso and state classes from explore
  build.sbt
  modules/testkit/src/main/scala/lucuma/ui/ArbUserVault.scala
  modules/tests/src/test/scala/lucuma/ui/input/FormatUtilsSpec.scala
  modules/tests/src/test/scala/lucuma/ui/sso/UserVaultSuite.scala
  modules/ui/src/main/scala/lucuma/ui/components/state/ConnectionManager.scala
  modules/ui/src/main/scala/lucuma/ui/components/state/IfLogged.scala
  modules/ui/src/main/scala/lucuma/ui/components/state/LogoutTracker.scala
  modules/ui/src/main/scala/lucuma/ui/components/state/SSOManager.scala
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
  modules/ui/src/main/scala/lucuma/ui/sso/SSOClient.scala
  modules/ui/src/main/scala/lucuma/ui/sso/SSOConfig.scala
  modules/ui/src/main/scala/lucuma/ui/sso/UserVault.scala
  modules/ui/src/main/scala/lucuma/ui/utils/RetryHelpers.scala
Due: Label ui PRs

workflows
  .mergify.yml
  build.sbt
Due: none

extract login and about components from explore
  build.sbt
  modules/demo/src/main/scala/lucuma/ui/demo/Demo.scala
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-login.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-prime.scss
  modules/ui/src/main/scala/lucuma/ui/components/About.scala
  modules/ui/src/main/scala/lucuma/ui/components/CopyControl.scala
  modules/ui/src/main/scala/lucuma/ui/components/LoginIcons.scala
  modules/ui/src/main/scala/lucuma/ui/components/LoginStyles.scala
  modules/ui/src/main/scala/lucuma/ui/components/Logo.scala
  modules/ui/src/main/scala/lucuma/ui/components/MoonPhase.scala
  modules/ui/src/main/scala/lucuma/ui/components/UserSelectionForm.scala
  modules/ui/src/main/scala/lucuma/ui/components/state/IfLogged.scala
  modules/ui/src/main/scala/lucuma/ui/enums/ExecutionEnvironment.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/CheckboxView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDropdown.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDropdownOptional.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormEnumDropdownOptionalView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormEnumDropdownView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputText.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextArea.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormLabel.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/LucumaPrimeStyles.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/RadioButtonView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/primereact.scala
  modules/ui/src/main/scala/lucuma/ui/table/ColumnSelector.scala
Due: Label demo PRs, Label ui PRs

missing parts of migration
  modules/ui/src/main/resources/lucuma-css/images/ORCID-iD_icon-vector.svg
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-login.scss
  modules/ui/src/main/scala/lucuma/ui/Resources.scala
  modules/ui/src/main/scala/lucuma/ui/components/LoginStyles.scala
  modules/ui/src/main/scala/lucuma/ui/components/UserSelectionForm.scala
Due: Label ui PRs

extract common styles, fix allowGuest
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-common.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-prime.scss
  modules/ui/src/main/scala/lucuma/ui/components/UserSelectionForm.scala
Due: Label ui PRs

allow external messages in login dialogue
  modules/ui/src/main/scala/lucuma/ui/components/state/IfLogged.scala
Due: Label ui PRs

Update lucuma-schema to v0.4.0 - changes to the `execution` queries
  build.sbt
  fetchODBSchema.sh
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQuery.scala
  lucuma-schemas/src/test/resources/generatedSequence1.json
  lucuma-schemas/src/test/resources/generatedSequenceQuery.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/GeneratedSequenceDecodersSuite.scala
Due: none

Bump base version to 0.56
  build.sbt
Due: none

Visit/StepRecord model refactor
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
  model/src/main/scala/lucuma/schemas/model/InstrumentExecutionVisits.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
Due: none

Update odb-schema
  build.sbt
  fetchODBSchema.sh
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Update odb-schema
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Update version
  build.sbt
Due: none

sequence table row model
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowFormatters.scala
Due: Label ui PRs

useDynTable hook and organize table hooks
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/DynTable.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/TableStateStore.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseDynTable.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseReactTableWithStateStore.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/package.scala
Due: Label ui PRs

Export SideTabs component
  modules/ui/src/main/resources/lucuma-css/side-tabs.scss
  modules/ui/src/main/scala/lucuma/ui/components/SideTabs.scala
Due: Label ui PRs

icons
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/components/LoginIcons.scala
  modules/ui/src/main/scala/lucuma/ui/table/TableIcons.scala
Due: Label ui PRs

migrate demo to vite
  build.sbt
  modules/demo/package.json
  modules/demo/src/main/resources/app.js
  modules/demo/src/main/resources/dev.js
  modules/demo/src/main/resources/styles.css
  modules/demo/src/main/webapp/index.html
  modules/demo/src/main/webapp/main.jsx
  modules/demo/src/main/webapp/styles.css
  modules/demo/vite.config.js
  modules/demo/yarn.lock
  project/plugins.sbt
Due: Label demo PRs

remove redundant setting
  build.sbt
Due: none

cols
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceIcons.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

missing id forwarding
  modules/ui/src/main/scala/lucuma/ui/primereact/SelectButtonEnumView.scala
Due: Label ui PRs

Path conditions:
  Label demo PRs: any of: ^modules/demo/
  Label ui PRs: any of: ^modules/ui/
