Repository gemini-hlsw/lucuma-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label demo PRs, Label ui PRs

Label demo PRs:
  label:
    add:
    - demo
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

icons
  build.sbt
  modules/demo/.npmrc
  modules/demo/package.json
  modules/demo/src/main/scala/lucuma/ui/demo/Demo.scala
  modules/demo/src/main/scala/lucuma/ui/demo/FormComponent.scala
  modules/demo/src/main/scala/lucuma/ui/demo/IconsDemo.scala
  modules/demo/src/main/webapp/main.jsx
  modules/demo/src/main/webapp/styles.scss
  modules/demo/vite.config.js
  modules/demo/yarn.lock
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceIcons.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label demo PRs, Label ui PRs

sequence columns working
  build.sbt
  modules/demo/src/main/scala/lucuma/ui/demo/IconsDemo.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceIcons.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/StepTypeDisplay.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label demo PRs, Label ui PRs

bump base version
  build.sbt
Due: none

Use a View to handle state
  modules/ui/src/main/scala/lucuma/ui/components/SideTabs.scala
Due: Label ui PRs

fix typo
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
Due: Label ui PRs

Address other PR comments
  modules/ui/src/main/scala/lucuma/ui/components/SideTabs.scala
Due: Label ui PRs

styles, tighter seq column type, end border
  build.sbt
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
  modules/ui/src/main/scala/lucuma/ui/utils/package.scala
Due: Label ui PRs

useTheme
  build.sbt
  modules/demo/src/main/scala/lucuma/ui/demo/Demo.scala
  modules/demo/src/main/scala/lucuma/ui/demo/ThemeDemo.scala
  modules/demo/src/main/webapp/styles.scss
  modules/ui/src/main/scala/lucuma/ui/enums/Theme.scala
  modules/ui/src/main/scala/lucuma/ui/hooks/UseTheme.scala
  modules/ui/src/main/scala/lucuma/ui/hooks/package.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseReactTableWithStateStore.scala
Due: Label demo PRs, Label ui PRs

add scaladoc, check initialization
  modules/ui/src/main/scala/lucuma/ui/enums/Theme.scala
  modules/ui/src/main/scala/lucuma/ui/hooks/UseTheme.scala
Due: Label ui PRs

better handling of theme reinitialization
  modules/ui/src/main/scala/lucuma/ui/enums/Theme.scala
  modules/ui/src/main/scala/lucuma/ui/hooks/UseTheme.scala
Due: Label ui PRs

Update lucuma-odb-schemas 0.6.0 - remove decoders that moved there
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/DecSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ProperMotionSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/RASubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/RadialVelocitySubquery.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/TargetDecoders.scala
Due: none

Enable cache
  .github/workflows/ci.yml
  build.sbt
Due: none

unify styling
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-common.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-layout.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-side-tabs.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
  modules/ui/src/main/resources/lucuma-css/side-tabs.scss
  modules/ui/src/main/scala/lucuma/ui/components/ThemeIcons.scala
  modules/ui/src/main/scala/lucuma/ui/components/ThemeSubMenu.scala
  modules/ui/src/main/scala/lucuma/ui/components/state/IfLogged.scala
  modules/ui/src/main/scala/lucuma/ui/layout/LayoutStyles.scala
Due: Label ui PRs

remove title transform
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-login.scss
Due: Label ui PRs

undo last commit
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-login.scss
Due: Label ui PRs

extract title animation
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-login.scss
Due: Label ui PRs

Update odb graphql schema
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Update base version
  build.sbt
Due: none

Add support to populate the S/N column
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
Due: Label ui PRs

Update to scala 3.3.1
  build.sbt
  modules/demo/vite.config.js
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextView.scala
Due: Label demo PRs, Label ui PRs

Move format functions to explore
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextView.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  modules/ui/src/main/scala/lucuma/ui/utils/formats.scala
Due: Label ui PRs

Remove cache key
  .github/workflows/ci.yml
  build.sbt
Due: none

themes as mixins
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
Due: Label ui PRs

Change on how to pass the S/N value to sequence rows
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

fix that find & replace bug
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
Due: Label ui PRs

force table rerender on prefs loaded
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseReactTableWithStateStore.scala
Due: Label ui PRs

bump crystal
  build.sbt
Due: none

Switch to fs2-dom for BroadcastChannel
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/components/state/IfLogged.scala
  modules/ui/src/main/scala/lucuma/ui/components/state/LogoutTracker.scala
Due: Label ui PRs

Update odb schema
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Bump version
  build.sbt
Due: none

Update odb schema
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

migrate optics from explore, bump prime styles
  .gitignore
  build.sbt
  modules/tests/src/test/scala/lucuma/ui/input/FormatUtilsSpec.scala
  modules/tests/src/test/scala/lucuma/ui/optics/OpticsSuite.scala
  modules/ui/src/main/scala/lucuma/ui/optics/package.scala
Due: Label ui PRs

lint
  modules/ui/src/main/scala/lucuma/ui/optics/package.scala
Due: Label ui PRs

Add some more inputs
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: none

migrate optics from explore, disjointZip syntax
  modules/tests/src/test/scala/lucuma/ui/optics/OpticsSuite.scala
  modules/ui/src/main/scala/lucuma/ui/optics/package.scala
Due: Label ui PRs

Path conditions:
  Label demo PRs: any of: ^modules/demo/
  Label ui PRs: any of: ^modules/ui/
