Repository gemini-hlsw/lucuma-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label demo PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.2.1-RC4, temurin@17)
  actions:
    merge: {}
- name: Label demo PRs
  conditions:
  - files~=^modules/demo/
  actions:
    label:
      add:
      - demo
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^modules/ui/
  actions:
    label:
      add:
      - ui
      remove: []

prime tooltips
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

bump crystal
  build.sbt
Due: none

bump base version
  build.sbt
Due: none

Update other munit libs
  build.sbt
Due: none

Scalafmt
  build.sbt
Due: none

Update lucuma-core and other libs
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ProposalDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/ConstraintSetDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/ExposureTimeModeDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/PosAngleDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/ProposalDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/package.scala
Due: none

update schema, add generatedIds
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
Due: none

Add logging
  modules/ui/src/main/scala/lucuma/ui/components/state/ConnectionManager.scala
Due: Label ui PRs

disconnect before reconnecting on token change
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/components/state/ConnectionManager.scala
Due: Label ui PRs

Lucuma-core updates
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
Due: Label ui PRs

Update base version
  build.sbt
Due: none

reformat
  modules/ui/src/main/scala/lucuma/ui/components/state/ConnectionManager.scala
Due: Label ui PRs

add missing enum instance to AtomExecutionState
  model/src/main/scala/lucuma/schemas/model/enums/AtomExecutionState.scala
Due: none

revert previous change
  modules/ui/src/main/scala/lucuma/ui/components/state/ConnectionManager.scala
Due: Label ui PRs

steps can also be abandoned
  model/src/main/scala/lucuma/schemas/model/enums/StepExecutionState.scala
Due: none

edit qa, toast extension
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-common.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  modules/ui/src/main/scala/lucuma/ui/LucumaIcons.scala
  modules/ui/src/main/scala/lucuma/ui/LucumaStyles.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/DatasetQA.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/all.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/toast.scala
Due: Label ui PRs

Add toHoursMinutes and TimeSpanView
  modules/tests/src/test/scala/lucuma/ui/syntax/SyntaxSuite.scala
  modules/ui/src/main/scala/lucuma/ui/components/TimeSpanView.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/all.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/time.scala
Due: Label ui PRs

link to datasets, only if valid
  build.sbt
  modules/demo/package-lock.json
  modules/demo/package.json
  modules/demo/src/main/scala/lucuma/ui/demo/Demo.scala
  modules/demo/src/main/scala/lucuma/ui/demo/LinkIfValidDemo.scala
  modules/demo/vite.config.js
  modules/ui/src/main/scala/lucuma/ui/components/LinkIfValid.scala
  modules/ui/src/main/scala/lucuma/ui/components/state/ConnectionManager.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label demo PRs, Label ui PRs

fix typo
  modules/ui/src/main/scala/lucuma/ui/components/LinkIfValid.scala
Due: Label ui PRs

update schema
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Fix issue with flake.lock update PR
  flake.nix
Due: none

Small UI tweak
  .gitignore
  flake.nix
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-layout.scss
Due: Label ui PRs

add comments to dataset
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/Dataset.scala
Due: none

offload dataset editing
  build.sbt
  modules/demo/src/main/scala/lucuma/ui/demo/LinkIfValidDemo.scala
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-prime.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  modules/ui/src/main/scala/lucuma/ui/LucumaIcons.scala
  modules/ui/src/main/scala/lucuma/ui/components/LinkIfValid.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/primereact.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/DatasetQA.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label demo PRs, Label ui PRs

Update schema and lucuma-core
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

new lucuma-react
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/table/PrimeTable.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseDynTable.scala
Due: Label ui PRs

bump lucuma-react
  build.sbt
Due: none

System program type
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Update binary version
  build.sbt
Due: none

update crystal to 0.39.3
  build.sbt
Due: none

Publish schemas to npm
  .github/workflows/ci.yml
  .npmignore
  build.sbt
  package.json
Due: none

Fix package.json publish config
  package.json
Due: none

Update publish script
  .github/workflows/ci.yml
  build.sbt
Due: none

Run npm pkg fix
  package.json
Due: none

fix: use correct npm secret name
  .github/workflows/ci.yml
  build.sbt
Due: none

Remove provenance option from npm publish
  .github/workflows/ci.yml
  build.sbt
Due: none
