Repository gemini-hlsw/lucuma-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label demo PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.2.1-RC4, temurin@17)
  actions:
    merge: {}
- name: Label demo PRs
  conditions:
  - files~=^modules/demo/
  actions:
    label:
      add:
      - demo
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^modules/ui/
  actions:
    label:
      add:
      - ui
      remove: []

things
  modules/demo/src/main/scala/lucuma/ui/demo/Hello.scala
  modules/demo/src/main/scala/lucuma/ui/demo/MoreHello.scala
Due: Label demo PRs

pull-based
  modules/demo/src/main/scala/lucuma/ui/demo/Hello2.scala
  modules/demo/src/main/scala/lucuma/ui/demo/Hello3.scala
Due: Label demo PRs

simplify
  modules/demo/src/main/scala/lucuma/ui/demo/Hello3.scala
Due: Label demo PRs

rename
  modules/demo/src/main/scala/lucuma/ui/demo/Hello3.scala
Due: Label demo PRs

Use create-pull-request action
  .github/workflows/update-schema.yml
Due: none

Use committer instead of author
  .github/workflows/update-schema.yml
Due: none

Set author and committer to same
  .github/workflows/update-schema.yml
Due: none

Use graphql package instead of graphqurl
  .github/dependabot.yml
  .github/workflows/update-schema.yml
  README.md
  fetchODBSchema.mjs
  fetchODBSchema.sh
  flake.nix
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  package-lock.json
  package.json
Due: none

Add FormTimeSpanInput
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-prime.scss
  modules/ui/src/main/scala/lucuma/ui/display/package.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormTimeSpanInput.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/LucumaPrimeStyles.scala
Due: Label ui PRs

Scalafix
  modules/ui/src/main/scala/lucuma/ui/display/package.scala
Due: Label ui PRs

Bump baseVersion
  build.sbt
Due: none

Improvements to FormTimeSpanInput
  .github/workflows/ci.yml
  .gitignore
  build.sbt
  modules/demo/package-lock.json
  modules/demo/package.json
  modules/demo/src/main/scala/lucuma/ui/demo/Demo.scala
  modules/demo/src/main/scala/lucuma/ui/demo/FormComponent.scala
  modules/demo/vite.config.js
  modules/demo/yarn.lock
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-prime.scss
  modules/ui/src/main/scala/lucuma/ui/primereact/FormTimeSpanInput.scala
Due: Label demo PRs, Label ui PRs

Bump tlBaseVersion
  build.sbt
Due: none

Bump lucuma-sso version
  build.sbt
Due: none

Upgrade to lucuma-react 0.49.0
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/primereact/FormTimeSpanInput.scala
Due: Label ui PRs

Update schema types
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

update lucuma-odb-schema
  build.sbt
Due: none

Semester encoder fix. Map ProposalReference and ProgramReference.
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
Due: none

Update lucuma-react
  build.sbt
Due: none

Update schema - removal of GraphQL interfaces
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQuery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  lucuma-schemas/src/test/resources/visitGmosNorth.json
  lucuma-schemas/src/test/resources/visitGmosSouth.json
  lucuma-schemas/src/test/resources/visitNoSequence.json
  lucuma-schemas/src/test/resources/visitsQuery.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
Due: none

versions
  build.sbt
Due: none

Component to copy to clipboard
  modules/ui/src/main/scala/lucuma/ui/components/CopyControl.scala
  modules/ui/src/main/scala/lucuma/ui/components/CopyTextToClipboard.scala
Due: Label ui PRs

Update build.sbt
  build.sbt
Due: none

Better comment
  modules/ui/src/main/scala/lucuma/ui/components/CopyTextToClipboard.scala
Due: Label ui PRs

Add ObservationReferenceLabel
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

Update lucuma-core
  build.sbt
  modules/testkit/src/main/scala/lucuma/ui/ArbUserVault.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label ui PRs

Update lucuma-core/odb
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbTargetWithId.scala
Due: none

Update some more libs
  build.sbt
Due: none

Run scalafixAll
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ConstraintSetDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ExposureTimeModeDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/InputStreamSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ProposalDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TimingWindowDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/ConstraintSetDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/ExposureTimeModeDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/PosAngleDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/ProposalDecoders.scala
  project/plugins.sbt
Due: none

Run scalafixAll
  modules/tests/src/test/scala/lucuma/ui/input/FormatUtilsSpec.scala
  modules/ui/src/main/scala/lucuma/ui/components/UserSelectionForm.scala
  modules/ui/src/main/scala/lucuma/ui/components/state/ConnectionManager.scala
  modules/ui/src/main/scala/lucuma/ui/components/state/IfLogged.scala
  modules/ui/src/main/scala/lucuma/ui/components/state/LogoutTracker.scala
  modules/ui/src/main/scala/lucuma/ui/components/state/SSOManager.scala
  modules/ui/src/main/scala/lucuma/ui/enums/Theme.scala
  modules/ui/src/main/scala/lucuma/ui/input/ChangeAuditor.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/BooleanRadioButtons.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/CheckboxView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdown.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdownOptionalView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdownView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumOptionalDropdown.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputText.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/RadioButtonView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/SliderView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/primereact.scala
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
  modules/ui/src/main/scala/lucuma/ui/sso/SSOClient.scala
  modules/ui/src/main/scala/lucuma/ui/table/PrimeTable.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/DynTable.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseReactTableWithStateStore.scala
  modules/ui/src/main/scala/lucuma/ui/utils/ReactUtils.scala
  modules/ui/src/main/scala/lucuma/ui/utils/RetryHelpers.scala
  modules/ui/src/main/scala/lucuma/ui/utils/UAParser.scala
Due: Label ui PRs

Make records and visits covariant on DynamicConfig
  build.sbt
  model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
Due: none

rework sequences for visits
  build.sbt
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-table.scss
  modules/ui/src/main/scala/lucuma/ui/display/package.scala
  modules/ui/src/main/scala/lucuma/ui/format/package.scala
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceIcons.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/util.scala
  modules/ui/src/main/scala/lucuma/ui/table/HeaderOrRow.scala
  modules/ui/src/main/scala/lucuma/ui/table/TableIcons.scala
  modules/ui/src/main/scala/lucuma/ui/table/TableStyles.scala
Due: Label ui PRs

some more styles
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-common.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  modules/ui/src/main/scala/lucuma/ui/LucumaStyles.scala
Due: Label ui PRs

Update odb
  build.sbt
Due: none

unify sequence table logic here
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-table.scss
  modules/ui/src/main/scala/lucuma/ui/LucumaIcons.scala
  modules/ui/src/main/scala/lucuma/ui/react/givens.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceIndexedRow.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/util.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseDynTable.scala
Due: Label ui PRs

bump base version
  build.sbt
Due: none

Fix timespan input suffix
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-prime.scss
  modules/ui/src/main/scala/lucuma/ui/primereact/FormTimeSpanInput.scala
Due: Label ui PRs
