Repository gemini-hlsw/lucuma-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label css PRs, Label demo PRs, Label testkit PRs, Label tests PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17)
  actions:
    merge: {}
- name: Label css PRs
  conditions:
  - files~=^modules/css/
  actions:
    label:
      add:
      - css
      remove: []
- name: Label demo PRs
  conditions:
  - files~=^modules/demo/
  actions:
    label:
      add:
      - demo
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^modules/ui/
  actions:
    label:
      add:
      - ui
      remove: []

Update binary version
  build.sbt
Due: none

Update schema
  build.sbt
Due: none

CalculatedValue reusability
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
Due: Label ui PRs

Update schema and libs for CalculatedValue + F2 stuff
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
Due: none

lucuma-core to 0.127.0, lucuma-schemas to 0.133.0
  build.sbt
Due: none

Update schema core and odb libs
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: none

Update core/schema
  build.sbt
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/ui/src/main/resources/lucuma-css/visualization.scss
  modules/ui/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label demo PRs, Label ui PRs

set the z-index of SolarProgress
  modules/ui/src/main/resources/lucuma-css/solar-system.scss
Due: Label ui PRs

bump lucuma-react
  build.sbt
Due: none

bump js dep
  modules/demo/package-lock.json
  modules/demo/package.json
Due: Label demo PRs

add f2 sequence query
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
Due: none

add f2 queries/model/decoders
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/Flamingos2DynamicConfigSubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/FluxDensitySubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/GcalStepConfigSubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/GmosCcdModeSubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/GmosNorthDynamicConfigSubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/GmosSouthDynamicConfigSubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/TimeSpanSubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/WavelengthSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
Due: none

fix Flamingos2FpuMask toInput
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: none

update schem
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

get flamingos2 values
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

generalize logic for instruments, implement f2 columns
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

integer exposure times for F2
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowFormatters.scala
Due: Label ui PRs

bump base version
  build.sbt
Due: none

bump versions, add missing toInput
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: none

update schema, add enum mapping for GuideProbe
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

move environment banner from explore
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-common.scss
  modules/ui/src/main/scala/lucuma/ui/utils/package.scala
Due: Label ui PRs

Update schema
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Update base version
  build.sbt
Due: none

Scala 3.7
  build.sbt
  model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
  project/plugins.sbt
Due: none

Scala 3.7
  build.sbt
  modules/demo/src/main/scala/lucuma/ui/demo/FormComponent.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/TargetBody.scala
  modules/ui/src/main/scala/lucuma/ui/Resources.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/AladinFullScreenControl.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/A.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/OverlayOptions.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/PolylineOptions.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/package.scala
  modules/ui/src/main/scala/lucuma/ui/components/UserSelectionForm.scala
  modules/ui/src/main/scala/lucuma/ui/components/state/SSOManager.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/BooleanRadioButtons.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDebouncedInputText.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputText.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormTimeSpanInput.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/primereact.scala
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
  modules/ui/src/main/scala/lucuma/ui/sso/SSOConfig.scala
  modules/ui/src/main/scala/lucuma/ui/table/FilterMethod.scala
  modules/ui/src/main/scala/lucuma/ui/table/HeaderOrRow.scala
  modules/ui/src/main/scala/lucuma/ui/utils/UAParser.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/SVGVisualizationOverlay.scala
  project/plugins.sbt
Due: Label demo PRs, Label ui PRs

Update odb
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

Update odb schema and libs for unified binning
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: none

Use production version
  build.sbt
Due: none

update-odb
  build.sbt
Due: none

bump clue
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  project/plugins.sbt
Due: none

Bump base version
  build.sbt
Due: none

Add tooltipPosition to TimeSpanView
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/components/TimeSpanView.scala
Due: Label ui PRs

Smarter reusability for fov
  modules/demo/vite.config.js
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
Due: Label demo PRs, Label ui PRs

Fix css class names
  modules/ui/src/main/resources/lucuma-css/visualization.scss
Due: Label ui PRs

Multiple updates
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/syntax/view.scala
  modules/ui/src/main/scala/lucuma/ui/utils/package.scala
  project/plugins.sbt
Due: Label ui PRs

Refactor common code on the demo
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/demo/src/main/webapp/index.html
Due: Label demo PRs
