Repository gemini-hlsw/lucuma-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label demo PRs, Label ui PRs

Label demo PRs:
  label:
    add:
    - demo
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

bump base version
  build.sbt
Due: none

increase memory for CI
  .github/workflows/ci.yml
  build.sbt
Due: none

view.debug
  modules/ui/src/main/scala/lucuma/ui/syntax/view.scala
Due: Label ui PRs

scaladoc
  modules/ui/src/main/scala/lucuma/ui/syntax/view.scala
Due: Label ui PRs

Update schema
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Update tlBaseVersion
  build.sbt
Due: none

dynamic enums
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/test/resources/timingWindowsQuery.graphql
  model/.js/src/main/scala/lucuma/schemas/enums/Globals.scala
  model/.jvm/src/main/scala/lucuma/schemas/enums/Globals.scala
  model/src/main/scala/lucuma/schemas/enums/DynamicEnums.scala
  model/src/main/scala/lucuma/schemas/enums/ObsAttachmentType.scala
Due: none

Add ProposalAttachmentType dynamic enum.
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  model/src/main/scala/lucuma/schemas/enums/ObsAttachmentType.scala
  model/src/main/scala/lucuma/schemas/enums/ProposalAttachmentType.scala
Due: none

Review comments
  model/src/main/scala/lucuma/schemas/enums/ProposalAttachmentType.scala
Due: none

Update odb schema and lucuma-core version
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

layered icons in buttons
  build.sbt
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-prime.scss
Due: Label ui PRs

TimeSpan reusability
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
Due: Label ui PRs

move ExecutionEnvironment to core
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/enums/ExecutionEnvironment.scala
Due: Label ui PRs

Add ProposalStatus dynamic enum
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  model/src/main/scala/lucuma/schemas/enums/DynamicEnums.scala
  model/src/main/scala/lucuma/schemas/enums/ObsAttachmentType.scala
  model/src/main/scala/lucuma/schemas/enums/ProposalAttachmentType.scala
  model/src/main/scala/lucuma/schemas/enums/ProposalStatus.scala
Due: none

Review comments
  model/src/main/scala/lucuma/schemas/enums/DynamicEnums.scala
  model/src/main/scala/lucuma/schemas/enums/ObsAttachmentType.scala
  model/src/main/scala/lucuma/schemas/enums/ProposalAttachmentType.scala
  model/src/main/scala/lucuma/schemas/enums/ProposalStatus.scala
Due: none

Add the css from DataTable that we are using in PrimeTable
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-table.scss
Due: Label ui PRs

Add workflow to automatically update ODB schema weekly
  .github/workflows/update-schema.yml
Due: none

Update token
  .github/workflows/update-schema.yml
Due: none

test with new token
  .github/workflows/update-schema.yml
Due: none

Map UserInvitationId and UserInvitationKey to Strings
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

unseal SequenceRow
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label ui PRs

Update binary version
  build.sbt
Due: none

Add ProposalStatus to ObservationDB
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  model/src/main/scala/lucuma/schemas/enums/ProposalStatus.scala
Due: none

abandoned
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label ui PRs

bump libs
  build.sbt
  modules/demo/package.json
  modules/demo/src/main/scala/lucuma/ui/demo/Demo.scala
  modules/demo/src/main/scala/lucuma/ui/demo/ThemeDemo.scala
  modules/demo/yarn.lock
  modules/ui/src/main/scala/lucuma/ui/syntax/components.scala
Due: Label demo PRs, Label ui PRs

Updates for API changes
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
Due: none

scalafix
  modules/demo/src/main/scala/lucuma/ui/demo/Demo.scala
Due: Label demo PRs

Add CSS for putting a Message in the MainBody
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-layout.scss
  modules/ui/src/main/scala/lucuma/ui/layout/LayoutStyles.scala
Due: Label ui PRs

Add prop to pass to primereact SelectButton
  modules/ui/src/main/scala/lucuma/ui/primereact/SelectButtonEnumView.scala
Due: Label ui PRs

bump base-version
  build.sbt
Due: none

new visits
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label ui PRs

update visits model + subquery
  build.sbt
  fetchODBSchema.sh
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/TimestampIntervalSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  lucuma-schemas/src/test/resources/v1.json
  lucuma-schemas/src/test/resources/visitsQuery.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  model/src/main/scala/lucuma/schemas/model/Dataset.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
  model/src/main/scala/lucuma/schemas/model/InstrumentExecutionVisits.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
Due: none

update deprecated time estimate query
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQuery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/OffsetSubquery.scala
Due: none

Run source 3.4 migration
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  model/src/main/scala/lucuma/schemas/enums/DynamicEnums.scala
Due: none

Update tlBaseversion
  build.sbt
Due: none

Scala 3.4.0
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextArea.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  modules/ui/src/main/scala/lucuma/ui/syntax/effect.scala
  modules/ui/src/main/scala/lucuma/ui/utils/package.scala
Due: Label ui PRs

bump baseversion
  build.sbt
Due: none

Prototype `KeyedSupervisor`
  modules/ui/src/main/scala/lucuma/ui/utils/KeyedSupervisor.scala
Due: Label ui PRs

Path conditions:
  Label demo PRs: any of: ^modules/demo/
  Label ui PRs: any of: ^modules/ui/
