Repository gemini-hlsw/lucuma-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label css PRs, Label demo PRs, Label testkit PRs, Label tests PRs, Label ui PRs

Label css PRs:
  label:
    add:
    - css
    remove: []

Label demo PRs:
  label:
    add:
    - demo
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

Label ui PRs:
  label:
    add:
    - ui
    remove: []

Integrate ReactAladin directly on lucuma-ui and make it a functional component
  build.sbt
  flake.nix
  modules/demo/package-lock.json
  modules/demo/package.json
  modules/demo/src/main/scala/lucuma/ui/demo/AladinDemo.scala
  modules/demo/src/main/scala/lucuma/ui/demo/AppMain.scala
  modules/demo/src/main/scala/lucuma/ui/demo/Demo.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/GmosGeometry.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/SVGTargetsOverlay.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/TargetBody.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/TargetsOverlay.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/VisualizationOverlay.scala
  modules/demo/src/main/webapp/aladin.css
  modules/demo/src/main/webapp/aladin.jsx
  modules/demo/src/main/webapp/index.html
  modules/demo/src/main/webapp/rgl.scss
  modules/demo/src/main/webapp/styles.scss
  modules/demo/vite.config.js
  modules/ui/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/A.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/AladinOptions.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/AladinSource.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/AladinView.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/Catalog.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/CatalogOptions.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/GoToObjectCallback.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/JsAladin.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/Overlay.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/OverlayOptions.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/PolylineOptions.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/SourceDraw.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/package.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/package.scala
Due: Label demo PRs, Label ui PRs

Add some explanations on how to enable the aladin demo
  modules/demo/src/main/webapp/index.html
Due: Label demo PRs

Fixes suggested on the PR
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/TargetBody.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
Due: Label demo PRs, Label ui PRs

Reformat
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/TargetBody.scala
Due: Label demo PRs

Port visualization classes from explore
  build.sbt
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/TargetsOverlay.scala
  modules/ui/src/main/resources/lucuma-css/visualization.scss
  modules/ui/src/main/scala/lucuma/ui/LucumaIcons.scala
  modules/ui/src/main/scala/lucuma/ui/components/state/SSOManager.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/CrossTarget.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/GuideStarTarget.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/GuideStarTooltip.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/OffsetSVG.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label demo PRs, Label ui PRs

Add visualization of gmos
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/GmosGeometry.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/VisualizationOverlay.scala
  modules/demo/src/main/webapp/aladin.jsx
  modules/demo/src/main/webapp/index.html
  modules/ui/src/main/resources/lucuma-css/visualization.scss
  modules/ui/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/SVGVisualizationOverlay.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label demo PRs, Label ui PRs

Improvements
  modules/demo/src/main/webapp/rgl.scss
  modules/ui/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label demo PRs, Label ui PRs

Add visualization overlay
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/SVGTargetsOverlay.scala
  modules/demo/src/main/webapp/rgl.scss
  modules/ui/src/main/resources/lucuma-css/visualization.scss
  modules/ui/src/main/scala/lucuma/ui/visualization/CrossTarget.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/GuideStarTarget.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/GuideStarTooltip.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/OffsetSVG.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/package.scala
Due: Label demo PRs, Label ui PRs

migrate core
  build.sbt
  modules/demo/src/main/scala/lucuma/ui/demo/FormComponent.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  modules/ui/src/main/scala/lucuma/ui/utils/Render.scala
Due: Label demo PRs, Label ui PRs

Add selector for fpu
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
Due: Label demo PRs

bump sso
  build.sbt
Due: none

Show the probe
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/GmosGeometry.scala
  modules/demo/src/main/webapp/aladin.css
  modules/ui/src/main/resources/lucuma-css/visualization.scss
  modules/ui/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label demo PRs, Label ui PRs

Cleanup
  modules/demo/src/main/webapp/index.html
  modules/demo/src/main/webapp/rgl.scss
  modules/ui/src/main/scala/lucuma/ui/visualization/GuideStarTooltip.scala
Due: Label demo PRs, Label ui PRs

migrate tooltips to prime
  build.sbt
  modules/demo/package.json
  modules/ui/src/main/scala/lucuma/ui/components/CopyControl.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDebouncedInputText.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDropdown.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDropdownOptional.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputText.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextArea.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextAreaView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextView.scala
  package-lock.json
Due: Label demo PRs, Label ui PRs

bump base version
  build.sbt
Due: none

use centralWavelength in tables
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
Due: Label ui PRs

Add a few extra useful methods
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: none

Add methods to obtain the observing mode type
  model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Due: none

Update schemas to support F2 longslit
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ExposureTimeModeDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TimingWindowDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: none

Update lib
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label ui PRs

Move more classes from explore
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/TargetBody.scala
  modules/demo/src/main/webapp/aladin.jsx
  modules/demo/src/main/webapp/theme.scss
  modules/demo/vite.config.js
  modules/ui/src/main/scala/lucuma/ui/LucumaIcons.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/AladinStyles.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/AladinZoomControl.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/package.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
Due: Label demo PRs, Label ui PRs

Show some more values and keep track of the offset
  modules/demo/package-lock.json
  modules/demo/package.json
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/AladinStyles.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/AladinZoomControl.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/package.scala
Due: Label demo PRs, Label ui PRs

Move FullScreen control
  modules/demo/package-lock.json
  modules/demo/package.json
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/ui/src/main/resources/lucuma-css/visualization.scss
  modules/ui/src/main/scala/lucuma/ui/LucumaIcons.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/AladinFullScreenControl.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/AladinStyles.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/AladinZoomControl.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/TargetsOverlay.scala
  package-lock.json
Due: Label demo PRs, Label ui PRs

Update binary version
  build.sbt
Due: none

Library and schema updates
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Update libraries
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
Due: Label ui PRs

Setup containter to show F2 geometry
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label demo PRs, Label ui PRs

Add geometry for F2
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/ui/src/main/resources/lucuma-css/visualization.scss
  modules/ui/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/GmosGeometry.scala
  modules/ui/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label demo PRs, Label ui PRs

Add candidates area
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/ui/src/main/resources/lucuma-css/visualization.scss
  modules/ui/src/main/scala/lucuma/ui/visualization/VisualizationStyles.scala
Due: Label demo PRs, Label ui PRs

Add probe arm
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/ui/src/main/resources/lucuma-css/visualization.scss
  modules/ui/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
Due: Label demo PRs, Label ui PRs

Update vite
  modules/demo/package-lock.json
  modules/demo/package.json
Due: Label demo PRs

Support selecting the port
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
Due: Label demo PRs

Add control for pos angle
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
Due: Label demo PRs

use vite 6.3.3
  modules/demo/package-lock.json
  modules/demo/package.json
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/demo/src/main/webapp/styles.scss
  modules/ui/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
Due: Label demo PRs, Label ui PRs

Remove extra rotation
  modules/ui/src/main/scala/lucuma/ui/visualization/Flamingos2Geometry.scala
Due: Label ui PRs

Support changing the survey
  build.sbt
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/package.scala
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
Due: Label demo PRs, Label ui PRs

PR comments
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
Due: Label demo PRs

Remove f2 fields
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Due: none

Path conditions:
  Label css PRs: any of: ^modules/css/
  Label demo PRs: any of: ^modules/demo/
  Label testkit PRs: any of: ^modules/testkit/
  Label tests PRs: any of: ^modules/tests/
  Label ui PRs: any of: ^modules/ui/
