Repository gemini-hlsw/lucuma-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label css PRs, Label demo PRs, Label testkit PRs, Label tests PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17)
  actions:
    merge: {}
- name: Label css PRs
  conditions:
  - files~=^modules/css/
  actions:
    label:
      add:
      - css
      remove: []
- name: Label demo PRs
  conditions:
  - files~=^modules/demo/
  actions:
    label:
      add:
      - demo
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^modules/ui/
  actions:
    label:
      add:
      - ui
      remove: []

Add dependabot fontawesome npm registry auth
  .github/dependabot.yml
Due: none

Add npmrc to root
  .npmrc
Due: none

Add registries to dependabot config
  .github/dependabot.yml
  .npmrc
Due: none

Remove provenance arg from npm publish
  build.sbt
Due: none

bump lucuma-prime
  build.sbt
Due: none

bump lucuma-prime again
  build.sbt
Due: none

bump base version
  build.sbt
Due: none

migrate SequenceData from explore
  build.sbt
  modules/ui/testkit/src/main/scala/lucuma/ui/sequence/arb/ArbSequenceData.scala
  modules/ui/testkit/src/main/scala/lucuma/ui/sso/arb/ArbUserVault.scala
  modules/ui/ui/src/main/scala/lucuma/ui/sequence/SequenceData.scala
Due: Label ui PRs

shouldShowAcquisitionSn method
  modules/ui/ui/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

Add ToO to target query
  build.sbt
  modules/schemas/lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  modules/schemas/lucuma-schemas/src/main/scala/lucuma/schemas/odb/TargetWithIdSubquery.scala
Due: none

Workaround for edge case on geometries
  modules/ui/ui/src/main/scala/lucuma/ui/visualization/SVGVisualizationOverlay.scala
Due: Label ui PRs

Update lucuma-react v0.85.0
  build.sbt
Due: none

Don't publish to npm for snapshots
  .github/workflows/ci.yml
  build.sbt
Due: none

Input extensions for Target and Target.Opportunity
  build.sbt
  modules/schemas/lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  modules/schemas/lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: none

add offset view and improve settings controls ui
  build.sbt
  modules/ui/demo/src/main/scala/lucuma/ui/demo/AladinDemo.scala
  modules/ui/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/ui/demo/src/main/scala/lucuma/ui/demo/aladin/AladinControlsPanel.scala
  modules/ui/demo/src/main/scala/lucuma/ui/demo/aladin/TargetBody.scala
  modules/ui/demo/src/main/webapp/aladin.jsx
  modules/ui/demo/src/main/webapp/aladinstyles.scss
  modules/ui/demo/src/main/webapp/styles.scss
  modules/ui/demo/src/main/webapp/theme.scss
  modules/ui/demo/vite.config.js
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
Due: Label ui PRs

Pass explicit reusability
  .gitignore
  modules/ui/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/package.scala
  modules/ui/ui/src/main/scala/lucuma/ui/reusability/package.scala
Due: Label ui PRs

bumps
  build.sbt
  modules/demo/package-lock.json
  modules/ui/demo/package.json
  project/plugins.sbt
Due: Label demo PRs, Label ui PRs

bump versions
  build.sbt
Due: none

Move some format functions and bring some explore functions here
  build.sbt
  modules/ui/ui/src/main/scala/lucuma/ui/format/package.scala
  modules/ui/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  modules/ui/ui/src/main/scala/lucuma/ui/sso/UserVault.scala
  modules/ui/ui/src/main/scala/lucuma/ui/utils/formats.scala
  modules/ui/ui/src/main/scala/lucuma/ui/utils/package.scala
Due: Label ui PRs

Add extension methods for formats
  modules/ui/ui/src/main/scala/lucuma/ui/format/package.scala
Due: Label ui PRs

Update core libs
  build.sbt
Due: none

Add labelClass to FormInputTextView
  build.sbt
  modules/ui/ui/src/main/scala/lucuma/ui/primereact/FormInputTextView.scala
Due: Label ui PRs

Remove values moved to core
  modules/ui/ui/src/main/scala/lucuma/ui/format/package.scala
  modules/ui/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
Due: Label ui PRs

Remove Lens disjointZip syntax moved to core, update API schema
  build.sbt
  modules/schemas/lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  modules/ui/tests/src/test/scala/lucuma/ui/optics/OpticsSuite.scala
  modules/ui/ui/src/main/scala/lucuma/ui/optics/package.scala
Due: Label ui PRs

Update binary version
  build.sbt
Due: none

fix ClientId mapping
  modules/schemas/lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

Update coulomb
  build.sbt
  modules/schemas/lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  modules/schemas/lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  modules/schemas/lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ExposureTimeModeDecodersSuite.scala
  modules/schemas/lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
  modules/schemas/lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  modules/ui/testkit/src/main/scala/lucuma/ui/sequence/arb/ArbSequenceData.scala
  modules/ui/ui/src/main/scala/lucuma/ui/sequence/SequenceData.scala
Due: Label ui PRs

col defs by instrument
  build.sbt
  modules/ui/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
  modules/ui/ui/src/main/scala/lucuma/ui/table/hooks/DynTable.scala
Due: Label ui PRs

convenience method for instrument columns
  modules/ui/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
Due: Label ui PRs

Update libs/schema
  build.sbt
  modules/schemas/lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

wip2
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/package.scala
Due: Label ui PRs

wip
  modules/ui/demo/package-lock.json
  modules/ui/demo/package.json
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/facade/A.scala
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/facade/AladinView.scala
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/facade/JsAladin.scala
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/facade/Zoom.scala
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/package.scala
Due: Label ui PRs

wip3
  modules/ui/demo/package-lock.json
  modules/ui/demo/package.json
  modules/ui/demo/vite.config.js
Due: Label ui PRs

cleanup
  modules/ui/demo/aladin-lite-3.7.1-beta.tgz
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/facade/A.scala
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/facade/JsAladin.scala
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/package.scala
Due: Label ui PRs

smooth-anim
  modules/ui/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/ui/ui/src/main/resources/lucuma-css/visualization.scss
Due: Label ui PRs

Error on FormTimeSpanInput
  build.sbt
  modules/ui/ui/src/main/scala/lucuma/ui/primereact/FormTimeSpanInput.scala
Due: Label ui PRs

Update clue to 0.48.0
  project/plugins.sbt
Due: none

www
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/facade/JsAladin.scala
Due: Label ui PRs

add
  modules/ui/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/ui/ui/src/main/resources/lucuma-css/visualization.scss
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/facade/AladinView.scala
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/package.scala
  modules/ui/ui/src/main/scala/lucuma/ui/visualization/SVGVisualizationOverlay.scala
Due: Label ui PRs

wip2
  modules/ui/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/ui/ui/src/main/scala/lucuma/ui/aladin/facade/AladinView.scala
Due: Label ui PRs
