Repository gemini-hlsw/lucuma-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label css PRs, Label demo PRs, Label testkit PRs, Label tests PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
    - 'title=flake.lock: Update'
  - status-success=Test (ubuntu-22.04, 3, temurin@17)
  actions:
    merge: {}
- name: Label css PRs
  conditions:
  - files~=^modules/css/
  actions:
    label:
      add:
      - css
      remove: []
- name: Label demo PRs
  conditions:
  - files~=^modules/demo/
  actions:
    label:
      add:
      - demo
      remove: []
- name: Label testkit PRs
  conditions:
  - files~=^modules/testkit/
  actions:
    label:
      add:
      - testkit
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^modules/tests/
  actions:
    label:
      add:
      - tests
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^modules/ui/
  actions:
    label:
      add:
      - ui
      remove: []

unbump base version
  build.sbt
Due: none

rebump core version
  build.sbt
Due: none

fix return type
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceColumns.scala
Due: Label ui PRs

bump
  build.sbt
Due: none

Add toWhereProgramNote
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: none

debounced-inputs
  build.sbt
  modules/demo/src/main/scala/lucuma/ui/demo/FormComponent.scala
  modules/demo/vite.config.js
  modules/ui/src/main/scala/lucuma/ui/primereact/DebouncedInputText.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDebouncedInputText.scala
Due: Label demo PRs, Label ui PRs

filtermethod working
  modules/ui/src/main/scala/lucuma/ui/primereact/DebouncedInputText.scala
  modules/ui/src/main/scala/lucuma/ui/table/ColumnFilter.scala
  modules/ui/src/main/scala/lucuma/ui/table/FilterMethod.scala
  modules/ui/src/main/scala/lucuma/ui/table/FilterType.scala
Due: Label ui PRs

basic filter controls
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/table/ColumnFilter.scala
  modules/ui/src/main/scala/lucuma/ui/table/FilterType.scala
Due: Label ui PRs

Support adding css to a FormLabel
  modules/ui/src/main/scala/lucuma/ui/primereact/FormLabel.scala
Due: Label ui PRs

Update binary version
  build.sbt
Due: none

Add label class to other form components
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDebouncedInputText.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDropdown.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDropdownOptional.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormEnumDropdownOptionalView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormEnumDropdownView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInfo.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputText.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextArea.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextAreaView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormTimeSpanInput.scala
Due: Label ui PRs

Update schema and libraries
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
Due: none

fix dep version
  build.sbt
Due: none

wip
  build.sbt
  flake.nix
  modules/demo/src/main/scala/lucuma/ui/demo/AladinDemo.scala
  modules/demo/src/main/scala/lucuma/ui/demo/AppMain.scala
  modules/demo/src/main/scala/lucuma/ui/demo/Demo.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/GmosGeometry.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/SVGTargetsOverlay.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/TargetBody.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/TargetsOverlay.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/VisualizationOverlay.scala
  modules/demo/src/main/webapp/aladin.jsx
  modules/demo/src/main/webapp/index.html
  modules/demo/src/main/webapp/rgl.scss
  modules/demo/src/main/webapp/styles.scss
  modules/ui/src/main/scala/lucuma/ui/aladin/Aladin.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/Aladin.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/Catalog.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/CatalogOptions.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/GoToObjectCallback.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/Overlay.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/package.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/package.scala
Due: Label demo PRs, Label ui PRs

wp
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/TargetBody.scala
  modules/demo/vite.config.js
  modules/ui/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/Aladin.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/package.scala
Due: Label demo PRs, Label ui PRs

clearable debounced input + global filter helper
  modules/ui/src/main/scala/lucuma/ui/primereact/DebouncedInputText.scala
  modules/ui/src/main/scala/lucuma/ui/table/ColumnFilter.scala
  modules/ui/src/main/scala/lucuma/ui/table/FilterMethod.scala
Due: Label ui PRs

bump base version
  build.sbt
Due: none

fixes to DebouncedInputText
  modules/ui/src/main/scala/lucuma/ui/primereact/DebouncedInputText.scala
Due: Label ui PRs

Update lucuma-core and lucuma-odb-schema
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Update lucuma-core and others.
  build.sbt
Due: none

Add tooltip to FormTimeSpanInput
  modules/ui/src/main/scala/lucuma/ui/primereact/FormTimeSpanInput.scala
Due: Label ui PRs

Fix clamping to min/max values
  build.sbt
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-prime.scss
  modules/ui/src/main/scala/lucuma/ui/primereact/FormTimeSpanInput.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/LucumaPrimeStyles.scala
Due: Label ui PRs

Update schema
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Read single/totalSN from the odb
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
Due: none

migrate core changes
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ConstraintSetDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
Due: none

bump versions
  build.sbt
Due: none

update schema
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Due: none

Add SlewStage to enums
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Due: none

Increase base version
  build.sbt
Due: none

Integrate ReactAladin directly on lucuma-ui and make it a functional component
  build.sbt
  flake.nix
  modules/demo/package-lock.json
  modules/demo/package.json
  modules/demo/src/main/scala/lucuma/ui/demo/AladinDemo.scala
  modules/demo/src/main/scala/lucuma/ui/demo/AppMain.scala
  modules/demo/src/main/scala/lucuma/ui/demo/Demo.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/AladinContainer.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/GmosGeometry.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/SVGTargetsOverlay.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/TargetBody.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/TargetsOverlay.scala
  modules/demo/src/main/scala/lucuma/ui/demo/aladin/VisualizationOverlay.scala
  modules/demo/src/main/webapp/aladin.css
  modules/demo/src/main/webapp/aladin.jsx
  modules/demo/src/main/webapp/index.html
  modules/demo/src/main/webapp/rgl.scss
  modules/demo/src/main/webapp/styles.scss
  modules/demo/vite.config.js
  modules/ui/src/main/scala/lucuma/ui/aladin/ReactAladin.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/A.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/AladinOptions.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/AladinSource.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/AladinView.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/Catalog.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/CatalogOptions.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/GoToObjectCallback.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/JsAladin.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/Overlay.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/OverlayOptions.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/PolylineOptions.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/SourceDraw.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/facade/package.scala
  modules/ui/src/main/scala/lucuma/ui/aladin/package.scala
Due: Label demo PRs, Label ui PRs

Add some explanations on how to enable the aladin demo
  modules/demo/src/main/webapp/index.html
Due: Label demo PRs

core model migration
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ConstraintSetDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/ConstraintSetDecoders.scala
Due: none

bump core
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/reusability/package.scala
Due: Label ui PRs

additional bump
  build.sbt
Due: none

Add optional tooltip to TimeSpanView
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/components/TimeSpanView.scala
Due: Label ui PRs
