Repository gemini-hlsw/lucuma-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label demo PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.2.1-RC4, temurin@17)
  actions:
    merge: {}
- name: Label demo PRs
  conditions:
  - files~=^modules/demo/
  actions:
    label:
      add:
      - demo
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^modules/ui/
  actions:
    label:
      add:
      - ui
      remove: []

Add ViewLike and modify primereact controls to use it
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/primereact/CheckboxView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdownOptionalView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdownView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormEnumDropdownOptionalView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormEnumDropdownView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/ViewLike.scala
Due: Label ui PRs

Add RadioButtonView and BooleanRadioButtons
  modules/ui/src/main/resources/lucuma-css/lucuma-ui.scss
  modules/ui/src/main/scala/lucuma/ui/primereact/BooleanRadioButtons.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/LucumaStyles.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/RadioButtonView.scala
Due: Label ui PRs

Add onFocus to FormInputText*
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputText.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextView.scala
Due: Label ui PRs

table improvements, move utils from explore
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/table/ColumnSize.scala
  modules/ui/src/main/scala/lucuma/ui/table/PrimeTable.scala
  modules/ui/src/main/scala/lucuma/ui/utils/ReactUtils.scala
  modules/ui/src/main/scala/lucuma/ui/utils/package.scala
Due: Label ui PRs

organize imports, bump base version
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/utils/ReactUtils.scala
  modules/ui/src/main/scala/lucuma/ui/utils/package.scala
Due: Label ui PRs

remove unused import
  modules/ui/src/main/scala/lucuma/ui/utils/package.scala
Due: Label ui PRs

remove obsolete comment
  modules/ui/src/main/scala/lucuma/ui/utils/package.scala
Due: Label ui PRs

adjust visits model
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/model/StepRecord.scala
Due: none

bump base version, organize imports
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
Due: none

fix copy+pasted typo
  lucuma-schemas/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
Due: none

Update lucuma-core
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/SpectralDefinitionDecoders.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
  templates/src/main/resources/lucuma/schemas/ObservationDB.graphql
  templates/src/main/scala/lucuma/schemas/ObservationDB.scala
Due: none

Update crystal
  build.sbt
Due: none

table subcomponents
  build.sbt
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-table.scss
  modules/ui/src/main/scala/lucuma/ui/table/PrimeTable.scala
Due: Label ui PRs

bump base version
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Executed steps by type
  lucuma-schemas/src/main/scala/lucuma/schemas/model/Visit.scala
Due: none

fix copy+paste error
  lucuma-schemas/src/main/scala/lucuma/schemas/model/Visit.scala
Due: none

better discrimination, fix obsolete queries
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/model/Dataset.scala
  lucuma-schemas/src/test/resources/generatedSequenceQuery.graphql
  lucuma-schemas/src/test/resources/manualSequence1.json
  lucuma-schemas/src/test/resources/v1.json
  lucuma-schemas/src/test/resources/visitsQuery.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ManualSequenceDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
Due: none

Make some fields optional
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/model/Dataset.scala
Due: none

bump lucuma-core
  build.sbt
Due: none

Add missing disabled passthrough in EnumDropdown.
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdown.scala
Due: Label ui PRs

Allow sizing of InputText and Dropdowns, update for lucuma-react v0.26.0
  build.sbt
  modules/ui/src/main/resources/lucuma-css/lucuma-ui.scss
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdown.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdownOptionalView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdownView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormEnumDropdownOptionalView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormEnumDropdownView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputText.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormLabel.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/primereact.scala
Due: Label ui PRs

Change FormEnumDropdownView label to TagMod
  modules/ui/src/main/scala/lucuma/ui/primereact/FormEnumDropdownView.scala
Due: Label ui PRs

Change button selectors in lucuma-ui.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui.scss
Due: Label ui PRs

Bump lucuma-react to v0.28.0
  build.sbt
Due: none

Add ability to clear FormInputTextViews
  build.sbt
  modules/ui/src/main/resources/lucuma-css/lucuma-ui.scss
  modules/ui/src/main/scala/lucuma/ui/primereact/LucumaStyles.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/primereact.scala
Due: Label ui PRs

Fix clearable *EnumDropdownOptionalViews
  modules/ui/src/main/scala/lucuma/ui/primereact/EnumDropdownOptionalView.scala
Due: Label ui PRs

Add `units` to *InputTextView
  modules/ui/src/main/resources/lucuma-css/lucuma-ui.scss
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputText.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/LucumaStyles.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/primereact.scala
Due: Label ui PRs

Add SelectButtonEnumView
  modules/ui/src/main/resources/lucuma-css/lucuma-ui.scss
  modules/ui/src/main/scala/lucuma/ui/primereact/SelectButtonEnumView.scala
Due: Label ui PRs

Fix for undefined disabled
  modules/ui/src/main/scala/lucuma/ui/primereact/primereact.scala
Due: Label ui PRs

Add itemTemplate property to SelectButton
  modules/ui/src/main/scala/lucuma/ui/primereact/SelectButtonEnumView.scala
Due: Label ui PRs

Update base version
  build.sbt
Due: none

more prime components
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDropdown.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDropdownOptional.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextArea.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextAreaView.scala
Due: Label ui PRs

Linear form column style.
  modules/ui/src/main/resources/lucuma-css/lucuma-ui.scss
  modules/ui/src/main/scala/lucuma/ui/primereact/LucumaStyles.scala
Due: Label ui PRs

add missing FormField class
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDropdown.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormDropdownOptional.scala
Due: Label ui PRs

bump base version
  build.sbt
Due: none

Bump lucuma-react, add some CSS vars to lucuma-ui
  build.sbt
  modules/ui/src/main/resources/lucuma-css/lucuma-ui.scss
Due: Label ui PRs

Update lucuma-core
  build.sbt
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
  project/plugins.sbt
Due: none

Update core
  build.sbt
Due: none

Remove SUI components from the table component
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/table/ColumnSelector.scala
  modules/ui/src/main/scala/lucuma/ui/table/Compact.scala
Due: Label ui PRs

Convert Demo to primereact, remove all SUI
  build.sbt
  modules/demo/package.json
  modules/demo/src/main/resources/dev.js
  modules/demo/src/main/resources/styles.css
  modules/demo/src/main/resources/theme/semantic.less
  modules/demo/src/main/resources/theme/theme.config
  modules/demo/src/main/scala/lucuma/ui/demo/Demo.scala
  modules/ui/src/main/scala/lucuma/ui/forms/EnumSelect.scala
  modules/ui/src/main/scala/lucuma/ui/forms/EnumViewMultipleSelect.scala
  modules/ui/src/main/scala/lucuma/ui/forms/EnumViewOptionalSelect.scala
  modules/ui/src/main/scala/lucuma/ui/forms/EnumViewSelect.scala
  modules/ui/src/main/scala/lucuma/ui/forms/EnumViewSelectBase.scala
  modules/ui/src/main/scala/lucuma/ui/forms/ExternalValue.scala
  modules/ui/src/main/scala/lucuma/ui/forms/FormInputEV.scala
  modules/ui/src/main/scala/lucuma/ui/forms/FormTextAreaEV.scala
  modules/ui/src/main/scala/lucuma/ui/forms/InputEV.scala
  modules/ui/src/main/scala/lucuma/ui/forms/package.scala
Due: Label demo PRs, Label ui PRs
