Repository gemini-hlsw/lucuma-ui: changes, and which Mergify rules are due for each by the changed paths.
All: Label demo PRs, Label ui PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 3.2.1-RC4, temurin@17)
  actions:
    merge: {}
- name: Label demo PRs
  conditions:
  - files~=^modules/demo/
  actions:
    label:
      add:
      - demo
      remove: []
- name: Label ui PRs
  conditions:
  - files~=^modules/ui/
  actions:
    label:
      add:
      - ui
      remove: []

bump
  build.sbt
Due: none

typed auth header
  modules/ui/src/main/scala/lucuma/ui/components/state/ConnectionManager.scala
  modules/ui/src/main/scala/lucuma/ui/sso/UserVault.scala
Due: Label ui PRs

bump base version
  build.sbt
Due: none

move under-construction component from explore
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-common.scss
  modules/ui/src/main/scala/lucuma/ui/LucumaIcons.scala
  modules/ui/src/main/scala/lucuma/ui/LucumaStyles.scala
  modules/ui/src/main/scala/lucuma/ui/components/UnderConstruction.scala
Due: Label ui PRs

functional under construction component
  modules/ui/src/main/scala/lucuma/ui/components/UnderConstruction.scala
Due: Label ui PRs

Update sbt-lucuma-lib
  project/plugins.sbt
Due: none

Schema and lib updates
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
Due: none

Update binary version
  build.sbt
Due: none

bump versions
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/table/hooks/DynTable.scala
  project/plugins.sbt
Due: Label ui PRs

regenerate scalfmt
  .scalafmt-common.conf
Due: none

regenerate workflow
  .github/workflows/ci.yml
Due: none

more updates
  build.sbt
  modules/demo/package-lock.json
  modules/demo/package.json
  modules/demo/vite.config.js
  package-lock.json
Due: Label demo PRs

scalafmt
  modules/demo/package-lock.json
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputText.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextView.scala
  modules/ui/src/main/scala/lucuma/ui/primereact/ViewLike.scala
  modules/ui/src/main/scala/lucuma/ui/react/givens.scala
Due: Label demo PRs, Label ui PRs

package
  modules/demo/package-lock.json
Due: Label demo PRs

scalafmt plugins
  project/plugins.sbt
Due: none

help scalafix
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseDynTable.scala
Due: Label ui PRs

Changes for unified attachments
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  model/src/main/scala/lucuma/schemas/enums/DynamicEnums.scala
  model/src/main/scala/lucuma/schemas/enums/ObsAttachmentType.scala
  model/src/main/scala/lucuma/schemas/enums/ProposalAttachmentType.scala
Due: none

explicit sorting in tables
  build.sbt
Due: none

add Monoid instance for VdomElement
  modules/ui/src/main/scala/lucuma/ui/react/givens.scala
Due: Label ui PRs

build Route from Format
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/router/FormatRoute.scala
Due: Label ui PRs

More helper methods and the ConfigurationRequestStatus enum
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: none

Update libs and schema
  build.sbt
Due: none

publish sequence row heights
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

move custom theme vars here
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-variables-dark.scss
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-variables-light.scss
Due: Label ui PRs

Add option of a text change callback
  modules/ui/src/main/scala/lucuma/ui/primereact/FormInputTextAreaView.scala
Due: Label ui PRs

Remove Eq instance for ProposalStatus since it is also Enumerated
  model/src/main/scala/lucuma/schemas/enums/ProposalStatus.scala
Due: none

Update core and odb schema
  build.sbt
Due: none

Updata scala to 3.6.2 plus other dependencies
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceIcons.scala
Due: Label ui PRs

bump scala to 3.6.2
  build.sbt
  modules/demo/vite.config.js
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceIcons.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/DynTable.scala
Due: Label demo PRs, Label ui PRs

bump lucuma-react
  build.sbt
Due: none

monadic hooks
  build.sbt
Due: none

migrate to monadic hooks
  build.sbt
Due: none

show execution status tags in completed steps
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-sequence.scss
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRow.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceRowBuilder.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/SequenceStyles.scala
  modules/ui/src/main/scala/lucuma/ui/sequence/package.scala
Due: Label ui PRs

useTheme as monadic hook
  modules/ui/src/main/scala/lucuma/ui/hooks/UseTheme.scala
  modules/ui/src/main/scala/lucuma/ui/hooks/package.scala
Due: Label ui PRs

migrate table hooks to monadic
  build.sbt
  modules/ui/src/main/scala/lucuma/ui/hooks/UseTheme.scala
  modules/ui/src/main/scala/lucuma/ui/hooks/package.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseDynTable.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/UseReactTableWithStateStore.scala
  modules/ui/src/main/scala/lucuma/ui/table/hooks/package.scala
Due: Label ui PRs

Update version
  build.sbt
Due: none

ProgramUser changes.
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
Due: none

bump base version, update dependencies
  build.sbt
Due: none

implement toast.showDuring
  build.sbt
  modules/ui/src/main/resources/lucuma-css/lucuma-ui-common.scss
  modules/ui/src/main/scala/lucuma/ui/syntax/toast.scala
Due: Label ui PRs
